---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<DefaultLayout title="404 - ページが見つかりません">
  <section class="my-32 flex min-h-[50vh] flex-col justify-center">
    <div class="container text-center">
      <h1 class="mb-8 text-8xl font-bold md:text-9xl">
        <span class="text-gradient">404</span>
      </h1>
      <div class="space-content mx-auto max-w-2xl">
        <p class="mb-4 text-2xl font-bold md:text-3xl">お探しのページが見つかりませんでした。</p>
        <p class="mb-12 text-lg opacity-80">
          アクセスしようとしたページは削除されたか、URLが変更された可能性があります。
        </p>
        <div class="flex justify-center">
          <Link href="/" isButton type="primary" animateOnHover animationType="boop">
            ホームに戻る
            <Icon aria-hidden="true" name="lucide:home" size="1.5rem" />
          </Link>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, #ff8c00 25%, #ffd700);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
</style>
