---
import Navigation from '@components/Navigation.astro'
import { HighContrast, ReducedMotion, SkipLink } from 'accessible-astro-components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<div class="skip-link-wrapper">
  <SkipLink />
</div>
<header id="site-header">
  <!-- Initialize preference components -->
  <div hidden>
    <HighContrast />
    <ReducedMotion />
  </div>

  <Navigation />
</header>

<style lang="scss" is:global>
  @use '@assets/scss/base/breakpoint' as *;

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    width: 100%;

    li.type-icon {
      display: block;

      @include breakpoint('nav') {
        translate: 0 4px;
      }

      button {
        border: none;
        border-radius: 0;
      }

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }

    li.desktop-launcher {
      display: none;
    }

    @include breakpoint('nav') {
      li.desktop-launcher {
        display: block;
      }
    }
  }

  .skip-link-wrapper {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:focus-within {
      position: static;
      width: auto;
      height: auto;
      overflow: visible;
      clip: auto;
    }
  }
</style>
