---
import { Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}

const { src = '/astronaut-hero-img.webp' }: Props = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="whitespace-nowrap text-center text-4xl md:text-left md:text-6xl lg:text-7xl">
          <slot><span class="text-gradient">エンジニアニメ</span></slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <Link
            href="https://twitter.com/intent/follow?screen_name=engineers_anime"
            isButton
            type="primary"
            animateOnHover
            animationType="boop"
          >
            <Icon aria-hidden="true" name="simple-icons:x" size="1.5rem" />
            公式Xをフォロー
          </Link>
          <Link
            href="#upcoming-events"
            isButton
            type="secondary"
            animateOnHover
            animationType="boop"
          >
            <Icon aria-hidden="true" name="lucide:calendar" size="1.5rem" />
            勉強会を確認する
          </Link>
        </div>
      </div>
      <Image class="hidden lg:block" src={src} alt="" decoding="async" width={800} height={600} loading="eager" />
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(315deg, #ff8c00 25%, #ffd700);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
